<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Welcome, <span class="current-user">{{ user.username }}</span></h1>
        <h3>Balance: ${{ user.balance }}</h3>
        <div class="header-container">
            <a href="{{ url_for('transfer') }}">Transfer Money</a>
            <a href="{{ url_for('history') }}">View Transaction History</a>
            <a href="{{ url_for('logout') }}" class="logout">Logout</a>
        </div>
    </div>
</body>

</html>